* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #74a7f5;
}

.navbar {
  background-color: rgb(9, 9, 114);
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;

}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}


.nav-links a {
  color: white;
  text-decoration: thistle;
}

h1 {
  text-align: center;
  margin: 40px 0;
  color: darkblue;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: rgb(242, 146, 146);
  width: 240px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #260f0f;
}

.card h3 {
  color: darkblue;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  padding: 6px 12px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
