#main-heading {
    color: darkgreen;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 28px;
    margin-top: 50px;   
}


.card {
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 8px;
    border: 5px double black;
}


.text {
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
}

.btn {
    background-color: rgb(18, 230, 18);
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(42, 8, 145);
}
