#main-heading {
    color: darkgreen;
    text-align: center;
}


.card {
    background-color: #f2f2f2;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 8px;
}


.text {
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
}

.btn {
    background-color: darkgreen;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: green;
}