
h1, h3 {
    color: darkblue;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.box {
    background-color: white;
    width: 250px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 8px;
    text-align: center;
}

.box p {
    font-size: 14px;
    margin: 15px 0;
}

button {
    padding: 8px 15px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}
