* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    min-height: 80vh;
}
.sidebar {
    width: 220px;
    background-color: #34495e;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #3d566e;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #1abc9c;
}
.content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: #2c3e50 2px solid;
    
}

.card h2 {
    margin-bottom: 10px;
    color: #2c3e50;
    
}

.card ul {
    margin-left: 20px;
}
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid #2c3e50;
}
